.idea/
.php-cs-fixer.cache
.phpunit.cache/
.phpunit.result.cache
.vscode/
composer.lock
coverage_report/
coverage-report/
coverage.xml
coverage/
vendor/

*.yaml
*.json
!composer.json

*.md
!README*.md

test.php
